/* Navigation Bar */
nav {
  display: flex;
  background-color: #ff6600; /* Bright orange background */
  align-items: center;
  padding: 5px 20px;
  border-radius: 3px 3px 0 0;
}

.navbar-brand {
  font-weight: bold;
  color: white; /* White text for brand */
  text-decoration: none; /* Remove underline */
}

.navbar-brand:hover {
  text-decoration: underline; /* Underline on hover */
}

.nav-link {
  font-size: 0.85rem;
  margin: 0 10px; /* Slightly larger margin for spacing */
  color: rgb(0, 0, 0); /* White text color */
  text-decoration: none; /* Remove underline */
}

.nav-link:hover {
  text-decoration: underline; /* Underline on hover */
  color: #ffcc00; /* Slightly different color on hover for better visibility */
}

.nav-right {
  margin-left: auto;
  text-align: right;
}

/* Responsive Design */
@media (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-right {
    margin: 10px 0 0;
    text-align: left;
  }
}
